<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695247182044-dh52b4n03vuh3e9nmo781bvufk433aaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695247182044-dh52b4n03vuh3e9nmo781bvufk433aaj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjrt0wBf165_jvdSoFGYjYfG9N8BDR_zA</string>
	<key>GCM_SENDER_ID</key>
	<string>695247182044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enixan.ringrage</string>
	<key>PROJECT_ID</key>
	<string>ring-rage</string>
	<key>STORAGE_BUCKET</key>
	<string>ring-rage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695247182044:ios:b3f1a9a439deabca5f7c19</string>
	<key>DATABASE_URL</key>
	<string>https://ring-rage.firebaseio.com</string>
</dict>
</plist>